/* animals */
.animals
	display grid
	grid-area animals
	grid-template-rows minmax(auto, 52.2rem)
	align-items center
	background light url(../img/content/animals-bg.png) no-repeat top right
	&-content
		&__title 
			poppinsBold()
			font-size 8rem
			line-height 8.4rem
			padding-top 8.5rem
			padding-bottom 11rem
			color red
		&__img
			margin-left 3.5rem
			margin-bottom -4rem	
		&__text
			poppinsMedium()
			font-size 3.2rem
			line-height normal
			letter-spacing 0.03rem
