/*
@import url('https://fonts.googleapis.com/css?family=Bangers|Poppins:400,500,600,700');
*/
@import 'reset.css'
@import 'fonts.css'

@import 'typografy.styl'	
@import 'header.styl'
@import 'menu.styl'
@import 'animals.styl'
@import 'properties.styl'
@import 'alternative.styl'
@import 'feed.styl'
@import 'product.styl'
@import 'nature.styl'
@import 'pioneer.styl'
@import 'goal.styl'
@import 'projects.styl'
@import 'footer.styl'
@import 'media.styl'


